html{
    background-image: linear-gradient(to right, #17153B, #2E236C);
    width: 100%;
    height: 100%;
    
  }
  body {
    font-family: "Sono", sans-serif;
  }
  .pricing-container{
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    gap: 20px;
    align-items: center;
    flex-shrink: 0;
    
  }
  .pricing-plan{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    max-width: 400px;
    min-width: 300px;
  }
  .plan-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .plan-features{
    list-style: none;
    font-size: 1.2rem;
    font-weight: normal;
    
  }
  .plan-button{
    background-image: linear-gradient(to bottom, #c49e9e, #d31a52);
    padding: 10px 20px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgb(80, 55, 55);
    font-weight: bold;
    border: none;
  }
  .plan-button:hover {     
    background-image: linear-gradient(to bottom, #c41515, #d31a52);
    transition: 0.7s;
  }
  .plan-button:focus {     
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px rgb(68, 37, 66);
    transition: 0.7s;
  } 
  .plan-button:active {     
    color: black;
    box-shadow: 5px 5px 5px black;
    box-shadow: black;
    border: 5px black solid;
  } 
  .item1{ 
    background-image: linear-gradient(to right, #C8ACD6, #2e2683);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 10px black;
  }
  .item2{
    background-image: linear-gradient(to right, #9844c2, #1e0ddd);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 10px black;
  }
  .item3{
    background-image: linear-gradient(to right, #aa08fcd7,#0096db, #14e77d);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 10px black;
  }

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .plan-title{
    font-size: 2rem;
    font-weight: bold;
  }
  .pricing-plan{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    max-width: 400px;
    min-width: 500px;
  }
  .pricing-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
    gap: 50px;
    align-items: center;
    padding-bottom: 20px;
  }
  .pricing-plan{ 
    flex-shrink: 0;
    flex-basis: 330px;
  }
  .plan-features{
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: normal;
    min-width: 400px;
    min-height: 100px;
  }
  }